/* Home.css */
.text-animation {
    font-size: 2.5em;
    display: inline-block;
    color: #F04C24;
    font-weight: bold;
  }
  
  @media (max-width: 1150px) {
    .text-animation {
      font-size: 2em;
    }
  }
  
  @media (max-width: 750px) {
    .text-animation {
      font-size: 1.5em;
    }
  }
  